.image{
	margin-left: 20%;
	margin-top: 10%;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.container-fluid{
	overflow: hidden;
}
.image2{
	margin-left: 8%;
	margin-top: 20%;
	width: 80%;
	height: 100%;
	
	object-fit: cover;
}

.btn-block{
margin-top: 0 !important;
}

@media screen and(max-width: 678px)
{
.image2 .p2{
	
	font-size: 10vw;
    font-weight: 400;
    color: #6E6E6E;
}
.image2 .h{
	font-family:Raleway, sans-serif;
	font-size: 5vw;
    font-weight: 900;
    text-align: center;
}
.image2 p{
	font-family:Raleway, sans-serif;
	font-size: 1.5vw;
    font-weight: 500;
    color:#6E6E6E;
}

}
@media screen and(min-width: 680px)
{
.image2 .p2{
	font-family:Raleway, sans-serif;
	font-size: 1.2vw;
    font-weight: 400;
    color: #6E6E6E;
}

}

.btn-color{
	background-color: #166387;
}

.slider_height img{
	height: 35rem;
	width: 100%;
}
.font{
	font-weight: 600;
	color: #363636;
	font-size: 1.2vw;
}

.store-image
{
	box-shadow: 5px 5px 5px #aaaaaa;
	position: relative;
	border-radius: 5%;
}
.stor-btn{
	position: absolute;
	padding: .4rem 1rem;
	background-color: #EA3B02;
	border: none;
	border-radius: 5%;
	color: #fff;
}



.store-image:hover .stor-name2{
   bottom: 24%;
   opacity: 0.5;
}


.stor-btn{
  top: 6%;
  right: 4%;
}
.stor-btn:hover{
	background-color: #166387;
}
@media screen and (min-width: 900px)
{
.stor-name{
	font-family : Montserrat, Arial, sans-serif;
    font-size: 1.2vw; 
   
}
.stor-name2{
	position: absolute;

	background-color: #ffffff;
	border: 1px solid #fff;
	opacity: 0;
	width: 100%;
	height: 79%;
	bottom: 0%;
	transition: .2s ease;
}
.stor-name{
	position: absolute;
	padding: .4rem 1rem;
	background-color: #166387;
	border: none;
	bottom: 0%;
	color: #fff;
	opacity: 0;
	width: 100%;
	text-align: center;
	transition: .2s ease;
}
.store-image:hover .stor-name{
   bottom: 0%;
   opacity: 1;
}
}

@media screen and (max-width: 900px)
{
.stor-name{
	font-family : Montserrat, Arial, sans-serif;
    font-size:4vw; 
   
}
.stor-name2{
	position: absolute;

	background-color: #ffffff;
	border: 1px solid #fff;
	opacity: 0;
	width: 100%;
	height: 78%;
	bottom: 0%;
	transition: .2s ease;
}
.stor-name{
	position: absolute;
	padding: .3rem 1rem;
	background-color: #166387;
	border: none;
	bottom: 0%;
	color: #fff;
	opacity: 1;
	width: 100%;
	text-align: center;
	
}

}