 .dropdown:hover>.dropdown-menu
{
  display: block;
  cursor: pointer;
}
.btn-color{
  background-color: #F5A106;
 color: #000;
 font-weight: 700;
}


.switchery>small{
  height: 20px;
  float: right;
}
.switchery
{
  height: 20px;
  float: right;
}
.label{
    padding: 1rem 10rem;
    background: #1A8E76; 
    display: table;
    color: #fff;
   margin-left: 8rem;
 
     }

.inp{
    width: .5rem 7rem;
     color: #fff;
  }


.input2 {
    display: none;
}




.a{
  position: relative;
}
.con .overlay2 {
  position: absolute; 
  bottom: 30%;
  left: 0%; 
  background: #55C0A9;
  color: #f1f1f1; 
 
  transition: .5s ease;
  opacity:0;
  color: white;
  
  padding: 4%;
  text-align: center;
}


.con:hover .overlay2 {
  opacity: 1;
 left: 30%;
}
.overlay2:hover {
  background-color: red;
}

.con .overlay3 {
  position: absolute; 
  bottom: 30%;
  left: 0%; 
  background: #55C0A9;
  color: #f1f1f1; 
 
  transition: .5s ease;
  opacity:0;
  color: white;
  
  padding: 4%;
  text-align: center;
}


.con:hover .overlay3 {
  opacity: 1;
 left: 50%;
}
.overlay3:hover {
  background-color: green;
  cursor: pointer;
}

.admin-detail{
  

  color: #1A8E76;
  font-size: 1.6vw;
  font-weight: 600;
  font-family: Roboto,sans-serif;
}
.cash{
  color: #4F4F4F;
  font-size: 1.2vw;
  font-weight: 600;
  font-family: Roboto,sans-serif;
}
.cash2{
  
  font-size: 1.2vw;
    font-weight: 300;
  font-family: Roboto,sans-serif;
}
.detail{
  
  font-weight: 300;
  font-size: 1.1vw;
  
  font-family: Roboto,sans-serif;
}
.bg-card{
  background-color: #EEEEEE;
}
 .card-header{
  background-color: #1A8E76 ;
}
.card-border:hover{
  
}
.imgPreview{
  width: 100%;
  height: 2rem;
  display: flex;
}
.imgPreview img{
 width: 20%;
 height: 8rem;
}

.discount, .stocks{
  cursor: pointer;
  color: #ffffff;
 

  margin: 0;
  background-color: #131921;
}
.bag{
  padding: 6% 10%;
  margin-top: 1%;
  cursor: pointer;
  color: #ffffff;
  background-color: #166387;
}
.act{
  border: 2px solid red;
  background-color: black;

}

.act2{
  border: 2px solid red;
  background-color: #1A8E76;

}


.sing2{
  border: 2px solid red;
  background-color: #166387;

}
.supply{
  width: 30%;
  height: 3rem;
  padding-top: 2%;
  text-align: center;
  border: none;
  border-radius: 4%;
  cursor: pointer;
}
.nav-pills .nav-link{
  color: #ffffff;
  background-color: #166387;
}
.nav-pills .nav-link.active
{
  background-color: #1A8E76 !important;
}


/*/*//*/fdsf*/
.backgorund{  

   background-color:#222E3C;
   font-weight: 700;
   font-size: 1.8vw;
   color: #F5A100;
 }
 .input_border_color{
  border: 1px solid #222E3C;
  padding-top: .7rem;
  padding-bottom: 2.5rem;
 }
 .label_font_size{
  font-size: 1.2vw;
  font-weight: 600;
  color:#222E3C ;
 }