.cart_quantity{
  display: flex;
  justify-content: space-betweens;
  margin-top: 2%;
}
#quantity 
{
  width: 60%;
  text-align: center;
}
.minus ,.plus{
  background-color: #09192C;
  padding: .2rem .8rem;
  color: #fff;
  border: 0;
}
.table_header{
  background-color: #09192C;
  color: #fff;
}