
.backgorund_image{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
   padding: 650px 150px 0px 15px;
}
.backgorund_image::before{
	    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
}
.contact_info
{
	position: absolute;
	top: 10%;
	right: 10%;
	width: 100%;
	color: #fff;
	z-index: 2;
	
}
.input_style{
	border: 1px solid #ADADB8;
	outline: none;
}
.input_style:focus{
	
	border: 1px solid #E86209;
	transform: scaleX(1);
  transform-origin: left;
  box-shadow: 0 0 0 .2rem rgba(0,0,0,.0);
}

h2{
	font-family: Poppins-Regular;
	font-size: 3vw;
}