body,.container-fluid,.bg{
  font-family:  Lato,  Arial, sans-serif;
  background: #EAEDED;
  color: #002f34;
}

.backgorund_color{
  background-color:#B0D1FF;
}
.browser{
  font-weight: 700;
}

.discount_off{
  position: absolute;
  top: 2%;
  left: 2%;
  font-weight: 700;
  border-radius: 5%;
  background-color: #09192C;
  color: red;
}
.product_name, .product_price{
  color: #002f34;
 
  display: flex;
  justify-content: space-between;
}
.product_price{
  justify-content: flex-start;
}
.product_price p{
   font-weight: 700;
  margin-left: 3%;
  color: red;
}
.product_price span{
   color: #808080;
   font-size: 1vw;
}


.product_name p{
   font-weight: 700;
  width: 90%;
 overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

@media  (max-width: 600px)
{
 
 .slider{
    height:40rem
  }
  .product_image{
      height: 22rem;
      display: none;
   }

.discount_off{
 
  font-size:6vw;
  padding: 1rem .6rem;
}

.heart_style{
 font-size: 6vw;
}
}

@media  (min-width: 601px) and (max-width: 900px)

{
 
 .slider{
    height:40rem
  }
  .product_image{
      height: 29rem;
      display: none;
   }

.discount_off{
 
  font-size:3vw;
  padding: 1rem .7rem;
}
.heart_style{
 font-size: 4vw;
}


}

@media  (min-width: 901px) and (max-width: 1500px)

{
 
 .slider{
    height:20rem
  }
  .product_image{
      height: 15rem;
      display: none;
   }

.discount_off{
 
  font-size:1vw;
  padding: .4rem .8rem;
}

.heart_style{
 font-size: 1.4vw;
}
}
@media  (min-width: 1501px) and (max-width: 2100px)

{
 
 .slider{
    height:40rem
  }
  .product_image{
      height: 22rem;
      display: none;
   }

.discount_off{
 
  font-size:1vw;
  padding: 1rem .7rem;
}


.heart_style{
 font-size: 2vw;
}
}







