.small_images
{
 display: flex;
 justify-content: flex-start;
 height: 8rem;
 width: 100%;
 overflow: auto;
}
.small_images img{
  padding: .1rem;
}
.stars .total_rating{
  color: red;
}
.rating_adn_share,.like_share_icon{
  display: flex;
  justify-content: space-between;
}

@media  (max-width: 600px)
{
 
 .imgs{
  height: 40rem;
}
}

@media  (min-width: 601px) and (max-width: 900px)
{
 
 .imgs{
     height: 40rem;
   }
}

@media  (min-width: 901px) and (max-width: 1500px)
{
 
 .imgs{
     height: 32rem;

   }
}

@media  (min-width: 1501px) and (max-width: 2000px)
{
 
 .imgs{
     height: 40rem;
   }
}
