
.store_detail{
    position: absolute;

   /* right: 20%;*/
    background-color: #09192C;
    border-radius: 5%;
  /*  width: 25%;*/
    height: 17rem;
}
.store_detail h4{
    margin-top: 7%;
    margin-left: 4%;
    font-weight: 600;
    color: #fff;
}
.store_detail p{
  margin-left:5%;
    color: #fff;
}
.follow_message
{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    color: #fff;
}
.message{
    display: flex;
    flex-direction: column;
    margin: 5%;
}

@media  (max-width: 500px)
{
  .slider_image{
    height: 25rem;
}
.slider_image img{
    height: 25rem;
}

.store_detail{
    position: absolute;
    top: 7%;
    width: 96%;
    left: 2%;
}
}

@media  (min-width: 501px) and  (max-width: 900px)
{
  .slider_image{
    height: 25rem;
}
.slider_image img{
    height: 25rem;
}

.store_detail{
    position: absolute;
    top: 7%;
    width: 60%;
    right: 10%;
    height: 20rem;
}
}


@media  (min-width: 901px) and  (max-width: 1500px)
{
  .slider_image{
    height: 30rem;
}
.slider_image img{
    height: 30rem;
}

.store_detail{
    position: absolute;
    top: 23%;
    width: 25%;
    right: 15%;
    height: 17rem;
}
}

@media  (min-width: 1500px) and  (max-width: 2100px)
{
  .slider_image{
    height: 40rem;
}
.slider_image img{
    height: 40rem;
}

.store_detail{
    position: absolute;
    top: 16%;
    width: 25%;
    right: 15%;
    height: 17rem;
}
}









