.n2{
	opacity: 1 !important;
   color: #ffffff;
}
.n1{
	margin-left: 1% !important;

}
.bg-store{
	background-color: #166387;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link
{
	color: #ffffff;
	background-color: #131921;
}
.store-banner{
	background-color: #C8EBFF;
	position: relative;
}

.store-banner img{
   width: 100%;
   height: 31rem;
}
.txt{
	position: absolute;
	top: 0;
   left: 60%;
}
.txt h4
{
    font-family : Montserrat, Arial, sans-serif;
    font-size: 5vw; 
    font-weight: 700;
    line-height: 10vh;
    font-style: italic;
}
.txt .dis
{
	margin-top: 20%;
	margin-bottom: 0%;
	font-family : Montserrat, Arial, sans-serif;
    font-size: 2vw; 
    font-weight: 700;
    color: #ED3137;
    font-style: italic;
}
.txt .btn-store{
	background-color:#00A9A4;

	height: 3rem;

}
.stor-text{
	  font-family : Montserrat, Arial, sans-serif;
    font-size: 1.7vw; 
    font-weight: 700;
    margin: 0;
    margin-left: 3%;
}

.store-banner2{
    background-color: #C8EBFF;
    position: relative;
}

.store-banner2 img{
   width: 100%;
   height: 16rem;
}
.abcd{
    animation: wigg 2s linear infinite;
}
.store-nav-color{
    height: 4rem;
     background: #166387;
}
.pro 
 {
    font-family : Montserrat, Arial, sans-serif;
    font-size: 3vw; 
    font-weight: 700;
    color: #166387;
    margin-left: 40%;
    position:relative;
    display:inline-block;
  }
.pro:after
  {
    content:'';
    position:absolute;
    left:0;right:10;
    top:100%;
    width:30%;
    height:.2rem;
    background:#ED7632;
  }
.text2
  {
    font-size: 1vw;
	  font-family : Montserrat, Arial, sans-serif;
	  margin-left: 3%;
  }
@media screen and (max-width: 600px)
{
.stor-text
 {
	 font-family : Montserrat, Arial, sans-serif;
   font-size: 4vw; 
   font-weight: 700;
   margin: 0;
   margin-left: 3%;
  }
.text2
  {
    font-size: 3vw;
	  font-family : Montserrat, Arial, sans-serif;
	  margin-left: 3%;
  }
  .txt{
  position: absolute;
  top: 0;
   left: 50%;
}
.pro
  {
	  font-family : Montserrat, Arial, sans-serif;
    font-size: 4vw; 
    font-weight: 700;
    color: #166387;
  }

.store-banner img
  {
    width: 100%;
    height: 15rem;
  }

.txt h4
  {
    font-family : Montserrat, Arial, sans-serif;
    font-size: 8vw; 
    font-weight: 700;
    line-height: 4vh;
    font-style: italic;
  }
.txt .dis
  {
    margin-top: 30%;
    margin-bottom: 0%;
    font-family : Montserrat, Arial, sans-serif;
    font-size: 4vw; 
    font-weight: 700;
    color: #ED3137;
    font-style: italic;
  }
.best
  {
     font-family : Montserrat, Arial, sans-serif;
     font-size: 3vw; 
     font-weight: 700;
     font-style: italic;
  }
.txt .btn-store
  {
    background-color: #00A9A4;
    height: 2rem;
  }
.n2
  {
    font-size: 3vw;  
  }
}

.overly{
  position: relative;
}
.bg-time 
{
  background-color: #166387;    
}
.over-text{
  position: absolute;
  left: 37%;
  border-radius: 5%;
  text-align: center;
  bottom: 10%;
  background-color: #166387;
  color: #ffffff;
  border: none;
}
.over-text p{
 
 padding: .3rem 1rem;
}

.over-text2{
   position: absolute;
   right: 2%; 
   border-radius: 5%;
   text-align: center;
   top: 10%;
   background-color: #000000;
   color: #ffffff;
   border: none;
    padding: .1rem 1rem;
}




  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 
}



ul{
    list-style: none;
}

a{
    text-decoration: none;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(56, 165, 238, 0.5);
}

.con2{
    max-width:100%;
    
    margin: 0 auto;
    display: flex;
    position: relative;
}
.fhg

{
  background-color: #00A9A4;
}
.nav-link > a:hover{
    background-color: #1A8E76;
    text-decoration: none;
    display: block;
}
.bh{
    background-color: #1F2833;
}
@media screen and (min-width: 1500px)
{

.nav-link > a{
    line-height: 3rem;
    color: #fff;
    background-color: #000;
    padding: 0 .8rem;
    letter-spacing: 1px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}

}

@media screen and (max-width: 1500px)
{

 
.nav-link > a{
    line-height: 3rem;
    color: #fff;
    padding: 0 .8rem;
    letter-spacing: 1px;
    font-size: .95rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}
}
.nav-btn2{
    
    display: flex;
}



.btn.solid, .btn.transparent:hover{
    background-color: #fff;
    color: #69bde7;
}

.btn.transparent, .btn.solid:hover{
    background-color: transparent;
    color: #fff;
}

.nav-links > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link{
    position: relative;
}



.nav-link > a > i{
    margin-left: .2rem;
}

.nav-link:hover > a{
    transform: scale(1.1);
}

.dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    width: 10rem;
    z-index: 900;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.dropdown ul{
    position: relative;
}

.dropdown-link > a{
    display: flex;
    background-color: #000;
    color: #fff;
    padding: .5rem 1rem;
    font-size: .9rem;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}
.dropdown-link2 > a{
    display: flex;
    background-color: #fff;
    color: black;
    padding: 1rem .5rem;
    font-size: .9rem;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

.dropdown-link:hover > a{
    background-color: #131921;
    color: #fff;
}

.dropdown-link:not(:nth-last-child(2)){
    border-bottom: 1px solid #efefef;
}

.dropdown-link i{
    transform: rotate(-90deg);
}

.arrow{
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 32px;
    background-color: #fff;
    transform: rotate(45deg);
    cursor: pointer;
    transition: .3s;
    z-index: -1;
}

.dropdown-link:first-child:hover ~ .arrow{
    background-color: #3498db;
}

.dropdown-link{
    position: relative;
}

.dropdown.second{
    top: 0;
    left: 100%;
    padding-left: .8rem;
    cursor: pointer;
    transform: translateX(10px);
}

.dropdown.second .arrow{
    top: 10px;
    left: -5.5px;
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown{
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}









@keyframes animation{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}





.top-nav{
  background-color:#131921;
  font-family:  Montserrat,  Arial, sans-serif;
  font-size: 0.7rem;
    height: 10%;
}



.list2{
  margin-left: 14%;
  padding-bottom: 1%;
  font-family :Montserrat,  sans-serif;  font-size: 1vw;
}


.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  background-color: #55C0A9;
}

.li {
  float: left;
}

.li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dorpdown-text .dropdown-item{
font-family :Montserrat,  sans-serif;  

color: white;

}
.dorpdown-text .dropdown-item:hover{
  background-color: #55C0A9;
  color: white;
}



@media screen and (min-width: 600px)
{
  .btn-store{
    background-color: #00A9A4; 
  border: none;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;

  font-size: 1vw;
}
}
  @media screen and (max-width: 600px)
{
  .btn-store{
    background-color: #00A9A4; 
  border: none;
  color: white;
  padding: .5rem .5rem;
  text-align: center;
  text-decoration: none;

  font-size: 4vw;
}
.nav-links > ul{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
}

.swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
      

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
